<form action="/books/create" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Create an account</h2>

    <% if(flash && flash.err) { %>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            <% Object.keys(flash.err).forEach(function(error) { %>
                <li><%= JSON.stringify(flash.err[error]) %></li>
            <% }) %>
        </div>
    <% } %>


    <div class="control-group">
        <input type="text" class="form-control" placeholder="bookcode" name="bookcode">
    </div>

    <div class="control-group">
        <input type="text" class="form-control" placeholder="book title" name="title">
    </div>

    <div class="control-group">
        <input type="text" class="form-control" placeholder="page number" name="page">
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
