<div class="container">
    <h1><%= book.bookcode %></h1>
    <h3><%= book.title %></h3>
    <hr>
    <h3>Page: <%= book.page %></h3>

    <a class="btn btn-medium btn-primary" href="/books/edit/<%= book.id %>">Edit</a>

</div>
