<div class="container">
    <h1><%= book.title %></h1>
    <h3><%= book.code %></h3>
    <hr>
    <h3>File Name: <%= book.filename %></h3>

    <a class="btn btn-medium btn-primary" href="/books/edit/<%= book.code %>">Edit</a>

</div>
