<div class="container">
    <h1><%= song.bookcode %></h1>
    <h3><%= song.title %></h3>
    <hr>
    <h3>Page: <%= song.page %></h3>

    <a class="btn btn-medium btn-primary" href="/songs/edit/<%= song.id %>">Edit</a>

</div>
