<div class="container">
    <div class="jumbotron">
        <h1>FakeBook</h1>

        <h2>Get all your possibly ilegal music here!</h2>
        <a href="/main" class="btn btn-lg btn-success">Enter Now!</a>
    </div>
</div>
